<div class="element clearfix col1-3  load-content-blog blog blog1">
<a href="#filter=.blog%3Anot(.blog1),+.blog1load">

<div class="blog-icon"><i class="icons bubble"></i>
Jun 18 2013			 	  <div class="nav-button2"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
</div>
</a>
<h2>
<a href="#filter=.blog%3Anot(.blog1),+.blog1load">
Hello world!</a></h2>
<p>
HTML Ipsum Presents Pellentesque habitant morbi tristique senectus et...			 	  </p>
</div>


<div class="element clearfix col1-1 load-content-blog blog1load">
<a href="hello-world/">
<div class="blog-icon comment responsive">
<i class="icons bubble"></i>
<span class="padding-right responsive"> Jun 18 2013</span>
<span class="padding-right responsive">By: admin</span>
<span class="alignright responsive"> 2 Comments</span>
</div>
</a>

<h2 class="blog-heading"><a href="/hello-world/">Hello world!</a></h2>
<div class="the-content hentry"><h1>HTML Ipsum Presents</h1>
<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
<h2>Header Level 2</h2>
<ol>
<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li>Aliquam tincidunt mauris eu risus.</li>
</ol>
<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
</blockquote>
<h3>Header Level 3</h3>
<ul>
<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
<li>Aliquam tincidunt mauris eu risus.</li>
</ul>
<pre><code>
#header h1 a {
display: block;
width: 300px;
height: 80px;
}
</code></pre>
</div>
<div class="break"></div>
<a href="#filter=.blog">
<div class="bottom-bar responsive">
<span class="alignright responsive">Close</span>
</div>
</a>
</div>





<div class="element clearfix col1-3  load-content-blog blog blog902">

<a href="#filter=.blog%3Anot(.blog902),+.blog902load">

<div class="blog-icon"><i class="icons video"></i>
Mar 07 2013			 	  <div class="nav-button2"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
</div>
</a>
<h2>
<a href="#filter=.blog%3Anot(.blog902),+.blog902load">
A Youtube Embed</a></h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum...			 	  </p>
</div>


<div class="element clearfix col1-1 load-content-blog blog902load">
<a href="/a-youtube-embed/">
<div class="blog-icon comment responsive">
<i class="icons video"></i>
<span class="padding-right responsive"> Mar 07 2013</span>
<span class="padding-right responsive">By: admin</span>
<span class="alignright responsive"> 0 Comments</span>
</div>
</a>

<h2 class="blog-heading"><a href="/a-youtube-embed/">A Youtube Embed</a></h2>
<div class="the-content hentry"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.Nullam quis risus eget urna mollis ornare.</p>
<p class="blockquote">“ This could be a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio. ”<br /><span>JOHN DOE, COMPANY NAME</span></p>
<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
</div>
<div class="break"></div>
<a href="#filter=.blog">
<div class="bottom-bar responsive">
<span class="alignright responsive">Close</span>
</div>
</a>
</div>





<div class="element clearfix col1-3  load-content-blog blog blog901">

<a href="#filter=.blog%3Anot(.blog901),+.blog901load">

<div class="blog-icon"><i class="icons video"></i>
Mar 07 2013			 	  <div class="nav-button2"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
</div>
</a>
<h2>
<a href="#filter=.blog%3Anot(.blog901),+.blog901load">
A Vimeo Embed</a></h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum...			 	  </p>
</div>


<div class="element clearfix col1-1 load-content-blog blog901load">
<a href="/a-vimeo-embed/">
<div class="blog-icon comment responsive">
<i class="icons video"></i>
<span class="padding-right responsive"> Mar 07 2013</span>
<span class="padding-right responsive">By: admin</span>
<span class="alignright responsive"> 0 Comments</span>
</div>
</a>

<h2 class="blog-heading"><a href="/a-vimeo-embed/">A Vimeo Embed</a></h2>
<div class="the-content hentry"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.Nullam quis risus eget urna mollis ornare.</p>
<p class="blockquote">“ This could be a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio. ”<br /><span>JOHN DOE, COMPANY NAME</span></p>
<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
</div>
<div class="break"></div>
<a href="#filter=.blog">
<div class="bottom-bar responsive">
<span class="alignright responsive">Close</span>
</div>
</a>
</div>





<div class="element clearfix col1-3  load-content-blog blog blog81">

<a href="#filter=.blog%3Anot(.blog81),+.blog81load">

<div class="blog-icon"><i class="icons bubble"></i>
Feb 25 2013			 	  <div class="nav-button2"> <span class="nav-bar"></span> <span class="nav-bar"></span> <span class="nav-bar"></span> </div>
</div>
</a>
<h2>
<a href="#filter=.blog%3Anot(.blog81),+.blog81load">
We Appreciate Any Kind of Feedback</a></h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum...			 	  </p>
</div>


<div class="element clearfix col1-1 load-content-blog blog81load">
<a href="/we-appreciate-any-kind-of-feedback/">
<div class="blog-icon comment responsive">
<i class="icons bubble"></i>
<span class="padding-right responsive"> Feb 25 2013</span>
<span class="padding-right responsive">By: admin</span>
<span class="alignright responsive"> 1 Comment</span>
</div>
</a>

<h2 class="blog-heading"><a href="/we-appreciate-any-kind-of-feedback/">We Appreciate Any Kind of Feedback</a></h2>
<div class="the-content hentry"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.Nullam quis risus eget urna mollis ornare.</p>
<p class="blockquote">“ This could be a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio. ”<br /><span>JOHN DOE, COMPANY NAME</span></p>
<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
</div>
<div class="break"></div>
<a href="#filter=.blog">
<div class="bottom-bar responsive">
<span class="alignright responsive">Close</span>
</div>
</a>
</div>



<a href="#">
<div class="element clearfix col1-3 middle load-more-blog blog">
<div class="block-bg">
</div>
<div class="certificate">
<img src="images/bg-load@2x.png" alt="" width="26" height="26" />
</div>
<p>Load more posts</p></div>
</a>

<script type="text/javascript">
jQuery(document).ready(function() {

$count = 1;

jQuery(document).on('click', '.load-more-blog', function(e) {

$count++

e.preventDefault();

var removeItem = jQuery('.load-more-blog');
jQuery('#container').isotope('remove', removeItem);

if ( $count == 2 ) {
jQuery.get('/page/'+$count, function(data){
var filtered = jQuery(data).find('.element.load-content-blog');
jQuery(filtered).find('.blog-preview').addClass('blog');
jQuery('#container').isotope('insert', filtered, function(){
jQuery('#container').isotope('reLayout');
});
});
} else {
jQuery.get('page/'+$count, function(data){
var filtered = jQuery(data).find('.element.load-content-blog, .element.load-more-blog');
jQuery(filtered).find('.blog-preview').addClass('blog');
jQuery('#container').isotope('insert', filtered, function(){
jQuery('#container').isotope('reLayout');
});
});
}

});
});
</script>