@charset "utf-8";
/* CSS Document */


/* =IE8, IE7 style fixes
--------------------------------------------------------------------------------------------------------*/
.ie8 h1#logo a { font-family: 'Open Sans Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;  }
.ie8 h2, h4 { font-family: 'Open Sans Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif; }

.ie8 #wrapper:before, .title:before, .hover-title:before {display:none; }

.ie7 .social li { display:inline; }
.ie7 #options ul { display:inline;}
/* End Fixes
--------------------------------------------------------------------------------------------------------*/
