/*
Version: 1.0.0
Description: The Architect - An advanced, grid based portfolio theme
Author: Tom Rhodes
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: white, custom-background, threaded-comments, translation-ready, custom-menu
*/

/* =Clearfix
--------------------------------------------------------------------------------------------------------*/
.clear { clear: both; }
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { margin:auto; display:block; }
.centered { text-align:center; }
/* End Clearfix
--------------------------------------------------------------------------------------------------------*/

/*--WORDPRESS STYLES--*/
.sticky {}/*--STICKY STYLING IS HANDLES VIA JQUERY--*/
.bypostauthor img.avatar {}/*--HANDLED IN STYLES.PHP--*/
img.alignleft, img.aligncenter, img.alignright, img.alignnone { margin-bottom: 15px; margin-top: 15px; }
img.alignnone { display: block; }
img.alignleft { float: left; margin-right: 30px; }
img.alignright { float: right; margin-left: 30px; }
img.aligncenter { display: block; margin-right: auto; margin-left: auto; text-align: center; }
.wp-caption, .gallery-caption { margin: 40px 0; max-width: 100%; text-align: center; color: #999; padding: 0 40px; }
.wp-caption-text, .gallery-caption-text { margin: 6px 0; font-style: italic; font-size: 95%; line-height: 120%; }
.aligncenter { text-align: center }
.the-content.hentry { padding-bottom: 0; }